/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/*=============== MEDIA QUERIES ===============*/

/*========== Tablet ==========*/
@media screen and (min-width: 768px) {
}

/*========== Desktop ==========*/
@media screen and (min-width: 1200px) {
}

/*=============== GLOBAL TAGS AND CLASSES ===============*/

:root {
  /*========== Primary colors ==========*/
  --hue: 170;
  --brand-green: hsl(var(--hue), 100%, 26%);
  --brand-green-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-green-light-02: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-hover: hsl(var(--hue), 100%, 14%);

  /*========== Secondary colors ==========*/
  --gray-headline: hsl(210, 11%, 15%);
  --gray-paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 93%);

  /*========== Font and typography ==========*/
  --body-font: "DM Sans", sans-serif;
  font-size: 62.5%; /* de 16 pra 10 pixels */

  --header-height: 7.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--body-font);
  font-size: 1.6rem;

  text-align: center;

  background: var(--brand-green-light-02);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

h2 {
  line-height: 3.9rem;
  font-size: 3rem;
  color: var(--gray-headline);
}

h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: var(--brand-green);

  margin-bottom: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--gray-paragraph);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a,
button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;

  font-family: var(--body-font);
}

.button {
  padding: 1.6rem 3.2rem;
  width: fit-content;

  background-color: var(--brand-green);

  border-radius: 4rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: all 200ms ease;
}

#home .content .button:hover,
#contact .content .button:hover {
  background: var(--brand-green-hover);
}

/* change colors */

header .logo path[fill*="#00856F"] {
  fill: var(--brand-green);
}

header .open-menu path {
  stroke: var(--brand-green);
}

.card svg circle {
  fill: var(--brand-green-light-02);
}

#contact .mail-location svg path {
  stroke: var(--brand-green);
}

#backToTopButton circle {
  fill: var(--brand-green);
}

/*=============== HEADER ===============*/

header {
  display: flex;

  height: var(--header-height);
  width: 100%;

  position: fixed;
  top: 0;

  z-index: 100;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*=============== SCROLL ===============*/

header.scroll {
  background: var(--brand-green);
}

header.scroll .logo path {
  fill: #fff;
}

header.scroll .open-menu path {
  stroke: #fff;
}

/*=============== MENU EXPANDED ===============*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(header) {
  opacity: 0;
  visibility: hidden;
}

.close-menu,
body.menu-expanded .open-menu {
  display: none;
}

body.menu-expanded .close-menu {
  display: block;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: #fff;
}

.menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  transform: translateY(100%);
}

body.menu-expanded .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  padding-top: var(--header-height);

  width: 100vw;
  height: 100vh;

  background: var(--brand-green);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu .options {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.options li a {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--brand-beige);
}

.menu .button {
  margin-top: 4.8rem;
  margin-bottom: 8rem;
  margin-inline: auto;

  background: #fff;

  color: var(--brand-green);
}

.menu .button:hover {
  background-color: var(--brand-green);
  color: #fff;
  outline: 1px solid #fff;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*=============== #HOME ===============*/

#home {
  padding-top: calc(4.1rem + var(--header-height));
  text-align: center;
}

#home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(108rem + var(--header-height));
  z-index: -1; /* vai atrás dos elementos que estão no z: 0 padrão*/
  background-color: var(--brand-green-light);
}

#home .head {
  margin-bottom: 2.4rem;
}

#home .head h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--gray-headline);
}

#home .content p {
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--gray-paragraph);
  margin-bottom: 3.2rem;
}

#home .content .button {
  margin-bottom: 6rem;
  margin-inline: auto;
}

#home .content img {
  width: 26.4rem;
  display: block; /* remove o espacinho em branco abaixo da foto */
  margin-inline: auto;
  object-position: 0 2rem; /* altero a posição imagem dentro do png */
}

#home .data {
  margin: auto;
  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-green-light);
  border-radius: 0.6rem;
  width: 32.7rem;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .data h3 {
  font-size: 4.8rem;
  line-height: 130%;
  justify-content: center;
  color: var(--gray-headline);
  margin-bottom: 0.4rem;
}

#home .data p {
  line-height: 150%;
  color: var(--brand-green);
}

/*=============== SERVICES ===============*/

#services .wrapper {
  text-align: center;
  padding-block: 10rem;
}

#services h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: #fff;
  border: 1px var(--brand-green-light) solid;
  border-radius: 0.6rem;
}

#services .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  margin-block: 1.6rem;
}

/*=============== ABOUT ===============*/

#about {
  background: var(--brand-beige);
  padding-block: 10rem;

  text-align: left;
}

#about h2 {
  margin-bottom: 2.4rem;
}

#about p {
  margin-bottom: 6rem;
}

#about img {
  display: block;
  width: 32.7rem;
}

/*=============== CONTACT ===============*/

#contact {
  background: #fff;
}

#contact .wrapper {
  padding-block: 10rem;
  text-align: left;
}

#contact h2 {
  margin-bottom: 3.2rem;
}

#contact .mail-location {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact .mail-location p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact .button {
  margin-bottom: 6rem;
}

#contact img {
  display: block;
  margin-inline: auto;
  width: 32.4rem;
}

/*=============== FOOTER ===============*/

footer {
  background: var(--brand-green);
}

footer .wrapper {
  padding-block: 6rem;
  text-align: left;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer p {
  color: var(--brand-beige);
  line-height: 2.1rem;
  margin-bottom: 3.2rem;
}

footer .p1 {
  margin-bottom: 1.2rem;
}

footer .p2 {
  margin-bottom: 3.2rem;
}

.social-icons {
  display: flex;
  gap: 3.2rem;
}

/*=============== BACK TO TOP ===============*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2rem;

  transform: translateY(150%);

  visibility: hidden;

  transition: 300ms;
}

#backToTopButton.show {
  transform: translateY(0);

  visibility: visible;
}
